.list {
    padding: 30px 15px 0 15px;
    margin-top: 40px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}

.list h3.title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.list h3.title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #054ba7;
    display: block;
    margin-top: 6px;
}
.list ul{
    margin-bottom: 0;
}
.list ul li{
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.list li:hover {
    color: #054ba7;
}

